body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}


/*/
/* gridster
/*/

.gridster svg {
    width: 100%;
    height: 100%;
}

.gridster ul {
    background-color: #EFEFEF;
    list-style: none;
}


.gridster li {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    line-height: 100%;
}


.gridster {
    margin: 0 auto;
    opacity: .8;
    -webkit-transition: opacity .6s;
    -moz-transition: opacity .6s;
    -o-transition: opacity .6s;
    -ms-transition: opacity .6s;
    transition: opacity .6s;
}

.gridster .gs-w {
    background: #DDD;
    cursor: pointer;
}

.gridster .player {
    background: #BBB;
}


.gridster .preview-holder {
    border: none!important;
    background: red!important;
}

.postimage {
    overflow:hidden;
    height:225px;
    width:380px
}

.posttext {
    overflow-y: auto;
    overflow-x: hidden;
    height:420px;
    width: 380px;
    text-align: left;
}

.posttext a {
    text-decoration: none;
    color: #333;
}

code {
    white-space: normal;
}

.axis {
  font-size: 10px;
}
.axis path {
  fill: none;
  stroke: #000000;
}
.axis .tick line {
  stroke: #000;
}